<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
<div class=login>
  <div class="hader">
    <span>¡Únase a nosotros hoy!</span>
    <p>Regístrese ahora para convertirse en miembro.</p>
  </div>
  <form action="/register" method="post">
    <input type="text" name="fullname" placeholder="Nombre completo" required="" />
    <input type="text" name="username" placeholder="Usuario" required="" />
    <input type="email" name="email" placeholder="Direccion de correo electronico" required="" />
    <input type="password" name="password" placeholder="Contraseña" required="" />
    <input type="submit" value="Registrarse" />
    <span> ¿Ya eres miembro? <a href="/login">Iniciar sesion</a></span>
  </form>
</div>
</body>
</html>